/* Media Queries
 @media screen and (min-width: 320px) {
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 960px) {

}
*/

:root {
    font-family: sans-serif;
    --light-blue: #0394fc;
    --lighter-blue: #7ec7fc;
    --lighter-gray: #b9b9b9;
    --orange: #e6540b;
    --white: #fff;
}
body {
    text-align: center;
}

a {
    color: var(--light-blue);
    text-decoration: none;
}

/* input {
    height: 26px;
} */

@media screen and (min-width: 320px) {
    #add {
        width: 50%
     }
}

@media screen and (min-width: 640px) {
    #add {
       width: 50%
    }
}

@media screen and (min-width: 960px) {
    #add {
       width: 25%;
    }
}

#zip-input {
    font-size: 25px;
    height: 45px;
    
    text-align: center;
    border-style:none none solid none;
}

@media screen and (min-width: 320px) {
    #zip-input {
        width: 50%;
    }
}

@media screen and (min-width: 640px) {
    #zip-input {
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    #zip-input {
        width: 25%;
    }
}

#zip-input:focus {
    /* outline: none; */
    border: 5px solid var(--light-blue)
    border-style:none none solid none;
}


button {
    background-color: var(--light-blue);
    border: none;
    padding: 0.5em;
    color: var(--white);
    height: 32px;
    font-weight: bold;
}

button:hover {
    background-color: var(--white);
    color: var(--light-blue);
    cursor: pointer;
}

#temp-unit {
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}

#root {
    display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

@media screen and (min-width: 640px) {
    #root {
        flex-direction: column;
    }

}

@media screen and (min-width: 960px) {
    #root {
        flex-direction: row;
    }
}


.card {
    margin: 1em 1em 1em 1em;
    text-align: center;
    box-shadow: 0px 5px 10px var(--lighter-gray);
    border-radius: 5px;
    min-width: 200px;
}

@media screen and (min-width: 640px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 960px) {
    .card {
        width: 25%;
    }

}

.city {
    padding: 0em 0em 0em 2em;
}

.temp-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.temp {
    display: block;
    float: left;
}
.temp-lo {
    display: block;
    float: left;
    padding: 0.5em 1em;
    color: var(--light-blue); 
}
.temp-hi {
    display: block;
    float: left;
    padding: 0.5em 1em;
    color: var(--orange); 
}


.delete-btn {
    display: block;
    width:32px;
    height: 32px;
    margin: 10px;
    background-image: url(images/delete.png);
    background-size: cover;
    cursor: pointer;
    float: right;
}

.delete-btn img {
    width: 24px;
    height: 24px;
    
}

.logo {
    height: 3em;
    margin: 1.25em 0 0 0;
  }

  footer {
      position: fixed;
      width: 100%;
      bottom: 0;
      margin-top: 100%;
      padding: 0.5em;
      text-align: center;
      background-color: #fff;
  }